<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !is_current_user_admin? %>
    <div>
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>
  <% end %>

  <%= form.fields :address, model: form.object.address do |field| %>
    <div>
      <%= field.label :phone_number %>
      <%= field.text_field :phone_number, value: "#{field.options['phone_number']}" %>
    </div>

    <% if !is_current_user_admin? || current_user.id != @user.id %>
      <div>
        <%= field.label :address_line %>
        <%= field.text_field :address_line, value: "#{field.options['address_line']}" %>
      </div>

      <div>
        <%= field.label :street %>
        <%= field.text_field :street, value: "#{field.options['street']}" %>
      </div>

      <div>
        <%= field.label :city %>
        <%= field.text_field :city, value: "#{field.options['city']}" %>
      </div>

      <div>
        <%= field.label :state %>
        <%= field.text_field :state, value: "#{field.options['state']}" %>
      </div>

      <div>
        <%= field.label :pin_code %>
        <%= field.number_field :pin_code, value: "#{field.options['pin_code']}" %>
      </div>

      <div>
        <%= field.label :landmark %>
        <%= field.text_field :landmark, value: "#{field.options['landmark']}" %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
