<!DOCTYPE html>
<html>
  <head>
    <title>SolbegAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div class="header">
      <div class="header-right">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      </div>
    </div>
  <% end %>

  <div style="padding-left:20px">
    <%= yield %>
  </div>
  </body>
</html>
